.album {
    border: 2px solid black;
    width: 310px;
}

a {
    display: block;
    margin-left: 10px;
    width: 300px;
    text-decoration: none;
    color: black;
}

button {
    display: block;
    margin-left: 80%;
    margin-bottom: 10px;
}