/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Dekko', sans-serif;
  }
  :root {
    --primary-color: #0066b3;
    --secondary-color: #d0e2f0;
    --accent-color: #e8e7fa;
    --shadow-color: #5d9cce;
  }
  
  button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }